@mixin flex() {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-width($width) {
  flex: $width;
}

@mixin justify-content($justify) {
  justify-content: $justify;
}

@mixin align-items($align) {
  align-items: $align;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
}

@mixin size($width: null, $height: null) {
  width: $width;
  height: $height;
}

@mixin text-align($text-align) {
  text-align: $text-align;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin font-style($size: null, $color: null, $weight: null, $line-height: null) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
}

.circle {
  @include border-radius(100%);
}
